.roboto {
  font-family: 'Roboto Slab', serif;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
  float:none;
}

.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 12px;
}


.btngreen {
  border: 2px solid limegreen;
  color: limegreen;
}

.btn2 {
  border: 2px solid #FF0000;
  color: #FF0000 ;
}

.btn3 {
  border: 2px solid #404040;
  color: #404040;
}

.btnred {
  border: 2px solid red;
  color: red;
}
