#container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#content {
  padding: 30px;
}

h1, h2 {
  margin: 0;
}

#header {
  text-align: center;
}

#logo {
    display: inline-block;
    padding:0;
}

#login {
    display: inline-block;
    padding:0;
    list-style:none;
    float: right;
}
#header2 {
  color: red;
  text-align: center;
}

#header1 {
  color: red;
  float: right;
}

#aligncenter {
  position: fixed;
  left: 50%;
}

#alignmiddle{
  height: 200px;
   width: 400px;

   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -100px;
   margin-left: -200px;
}

#roboto {
  font-family: 'Roboto Slab', serif;
}

#host, #guest, #myevents {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px auto;
  border-radius: 12px;
  width: 50%;
}

#minibutton {
  background-color: white;
  padding: 5px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 12px;
  width: 20%;
  height: auto;
  float: right;
}

#button1 {
  border: 2px solid limegreen;
  color: limegreen;
}

#button2 {
  border: 2px solid #FF0000;
  color: #FF0000 ;
}

#button3 {
  border: 2px solid #404040;
  color: #404040;
}

#button4 {
  border: 2px solid red;
  color: red;
}
*/
